body {
  background-color: black;
  color: white;
}
.header {
  padding-bottom: 30px;
}
.cardContent {
  text-align: "start";
  border: "4px solid #2f2f2f ";
  color: "white";
  background-color: "black";
  padding-left: "15%";
}

.link {
  text-decoration: none;
  color: white;
}
.landingButton {
  background-color: black;
  border: 2px solid white;
  margin: 50px;
}
